/*
 * |---:[Đoạn này sẽ chứa các đoạn giới thiệu và thông tin về theme, như tên theme (Theme Name), tên tác giả (Theme Author), địa chỉ của tác giả (Author URI),...]:---|

 * Theme Name: Travel Theme
 * Description: This is theme for book hotel
 * Version: 1.0
 * Theme Author: Travel
 * Tags: starter theme, framework theme, two-columns, customize
 * Textdomain: Travel Theme
 */

@media (min-width: 1024px) {
    .nav-top .navbar-nav li {
        border-right: 1px solid #ccc;
        font-size: 14pt;
        font-family: 'Economica', sans-serif;
        color:#a6aaae;
    }

    .nav-top .navbar-header {
        border-right: 1px solid rgba(204, 204, 204, 0.53);
        text-align: right;
        margin-left: 50px !important;
        font-size: 14pt;
        font-family: 'Economica', sans-serif;
        color:#a6aaae;
    }

    .nav-top .navbar-nav li:last-child {
        border: none;
    }

    .element_article:nth-child(even) {
        padding-left: 5px;
    }
	
	
}

.navbar-default {
    border-radius: 0 !important;
}

.nav-top a {
    color: #A7ABB4;
    font-weight: 600;
	background:white !important;
}

.nav-top .navbar{
	background:white !important;
	border:none;
	border-bottom:1px solid #e5e5e5;
	box-shadow:none;
	-webkit-box-shadow:none;
}

/** logo  **/

#logo {
    max-width: 150px;
    margin-top: 40px;
}

/**  nav-mid **/
#nav-mid {
    margin-top: 55px;
    background: #ED5565;
    height: 44px;
	min-height:44px;
    z-index: 100;
	border-top:1px solid #e5e5e5;
	margin-bottom:19px;
}

#nav-mid li a {
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    font-size: 11.88pt;
    font-family: 'Open Sans', sans-serif;
}

#nav-mid .list-item {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#nav-mid .list-item li {
    list-style: none;
    display: inline;
    padding: 0 15px;

}

.list-item li:before {
    color: white;
    margin-left: -5px;
    position: relative;
    left: 5px;
}

@media (max-width: 1024px) {

    #nav-mid .container-fluid {
        margin: 0;
        padding: 0;
    }

    .list-item li:before {
        left: -5px;
    }

    #nav-mid li a {
        padding: 15px 0;
    }
}

@media (max-width: 767px) {
    #nav-mid .list-item li {
        display: block;
        text-align: left;
    }

    .list-item li:before {
        margin-left: 5px;
    }
}

/** search **/

input.form-custom {
    height: 42px !important;
    border: 2px solid #e3e4e8 !important;
}

.container-form {
    background: #F0F2F5;
    display: inline-block;
    padding: 22px;
	border-radius:5px;
}

@media (max-width: 1024px) {

    .from-search .container {
        width: 100%;
    }

    input.form-custom {
        width: 100% !important;
    }

    input.form-custom {
        margin: 0px !important;
    }

    .container-form {
        background: #F0F2F5;
        display: block;
    }
}

div.has-feedback {
    position: relative;
}

.form-control-feedback {
    font-size: 24px !important;
    margin-top: 5px !important;
    color: #ccc;
    position: absolute;
    right: 5px !important;
}

@media (min-width: 1200px) {
    .form-item {
        margin-right: 5px;
    }
}

@media (max-width: 1200px) and (min-width: 768px) {
    .form-item {
        width: 50%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 15px;
    }

    input.form-custom {
        width: 100% !important;
    }

    .form-control-feedback {
        right: 15px !important;
    }
}

#content {
    padding: 15px;
}

@media (max-width: 767px) {
    .container {
        width: auto !important;
    }

    .element_article {
        padding: 0px;
    }
}

.des-item {
    text-align: justify;
    font-size: 8.96pt;
    font-family: Arial;
    color: #99a3b1;
}

/** footer **/
.container-footer {
    color: white;
    font-family: 'Economica', sans-serif;
}

.footer-menu {
    padding-top: 25px;
    background: #434A54;
}

.footer-menu .title-header-menu {
    color: #929ba7;
    font-weight: bold;
    font-size: 14pt;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 29px;
}

.footer-menu a {
    color: white;
}

#footer {
    margin-top: 15px;
}

.icon-nav-mid {
    margin-right: 10px;
}

.btn-booking {
    background-color: #ed5565;
    color: #FFFFFF;
    font-weight: bold;
    border-color: #FFFFFF;
    text-align: center;
    margin-bottom: 5px;
    padding: 4px;
    border-radius: 5px;
    font-family: 'Economica', sans-serif;
    height: 34px;
    width: 112px !important;
    font-size: 12.88pt;
}

.btn-booking:hover, .btn-customizing:hover {
    color: #ADB5C0;
}

.btn-customizing {
    background-color: #FFCE58;
    color: #FFFFFF;
    font-weight: bold;
    border-color: #FFFFFF;
    text-align: center;
    width: 100% !important;
    margin-bottom: 5px;
    padding: 15px;
    border-radius: 5px;
}

.total_money {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #ed5565;
    margin: 0px 0px 10px 0px;
    font-size: 12.88pt;
    font-family: 'Economica';
    text-transform: uppercase;
}

.element_article > div {
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
    border-style: solid;
    border-width: 5px;
    border-color: #F0F2F5;
}

.img_element {
    margin: 0px;
}

.hr_element {
    margin: 5px 0px 5px 0px;
}

.row_icon2{
    margin-top: 5px;
}
.row_icon1 {
    margin: 5px 0px;
}

.icon1 {
    margin-right: 5px;
    font-family: 'Economica', sans-serif;
}

.icon3 {
    margin-right: 5px;
    font-family: 'Economica', sans-serif;
}

.title_thumbnail {
    margin: 5px 0px 10px 0px;
    color: #ed5565;
    font-size: 18px;
}

.title_thumbnail a{
    color: #ed5565;
    font-size: 18.48pt;
    font-family: 'Economica', sans-serif;
    font-weight: bold;
}

.info {
    margin-left: 20px;
    margin-right: 20px;
}

.detail-book-item {
    color: #ADB5C0;
}

.nav-pagination ul li a {
    background-color: #ed5565;
    color: white;
}

.nav-pagination ul li a.pagi-left {
    margin-right: 3px;
}

.nav-pagination ul li a.pagi-right {
    margin-left: 2px;
}

.nav-pagination ul li a {
    border: none !important;
    height: 42px;
    width: 48px;
    font-size: 14pt;
    font-family: Open sans;
}

.nav-pagination ul li a:hover, .nav-pagination ul li a:focus {
    background-color: #ed5565;
    color: white;
}

.nav-pagination ul li.active a:hover, .nav-pagination ul li.active a:focus {
    background: #DA4453;
}

.nav-pagination ul li.active a {
    background: #DA4453
}

.img-icon-national, .img-icon-money {
    max-width: 25px !important;
    float: left;
    margin-right: 5px;
}

.link-national-icon {
    display: block !important;
}

.national-money li {
    border: none !important;
}

.label-national {
    position: relative;
    top: 3px;
}

.mg-right-40 {
    margin-right: 40px !important;
}

.mg-right-50 {
    margin-right: 50px !important;
}

.list-national {
    padding-left: 0px;
}

.list-national li {
    list-style-type: none;
    margin-left: 0 !important;
    clear: both;
    height: 34px;
    padding-bottom: 0px;
    padding: 9px 14px 31px 15px;
}

.list-national li a {
    text-decoration: none;
    display: block;
    color: #FAFAFA;
}

.list-national li .label-national {
    float: left;
}

.popover {
    background-color: #434A54 !important;
}

.popover.bottom > .arrow:after {
    border-bottom-color: #434A54 !important;
}

.popover.right > .arrow:after {
    border-right-color: #434A54 !important;
}

.popover-content li {
    text-transform: none !important;
}

.popover-content {
    padding: 0 !important;
}

.popover-content li:hover {
    background-color: #393F48
}

/** css **/
.national-money li {
    text-transform: uppercase;
}

.national-money .lang-item {
    display: none;
}

.national-money .current-lang {
    display: block;
}

.popover-content li {
    display: block !important;
}

.popover-content li img {
    position: absolute;
    left: 10px;
}

.popover-content li span {
    margin-left: 20px !important;
}

.list-national li a {
    text-align: left;
}

.national-money img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.logo {
    position: relative;
}

.flag_article {
    margin: 0px;
    padding: 5px 10px;
    position: absolute;
    right: 0%;
    background-color: #ed5565;
    color: #ffffff;
    top: 20px;
    font-size: 11px;
    font-weight: bold;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
	margin-right:1px;
    font-family: Arial;
    text-transform: uppercase;
}

.error-fare {
    margin-left: 3px;
    margin-right: 2px;
}

.background_header {
    position: relative;
    overflow: hidden;
}

.title_article_post {
    position: relative;
    bottom: 0%;
    color: #ed5565;
    font-size: 30px;
    font-weight: bold;
    top: -50px;
}

.list_heart {
    display: inline;
}

.title_article_post > h3 {
    font-weight: bolder;
    margin-bottom: -35px;
}

.top_content {
    background-color: #F0F2F5;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
}

.top_content > ul {
    margin-top: 10px;
    margin-bottom: 10px;
}

.top_content > ul > li {
    display: inline;
    list-style: none;
    margin-top: 0px;
    margin-right: 20px;
    font-size: 16px;

}

.top_content > ul > li:last-child {
    color: #ed5565;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    float: right;
    margin-right: 10px;
    margin-top: -3px;
}

.data-content {
    margin-top: 52px;
}

@media (max-width: 450px) {
    .top_content > ul {
        text-align: center;
    }

    .top_content > ul > li:last-child {
        display: block;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

}

.main-content-container {
    margin-top: 0;
}

@media (max-width: 767px) {
    .main-content-container {
        margin-top: -50px;
    }

    .title_article_post {
        top: -95px;
    }

    .title_article_post .col-xs-12 {
        text-align: center;
    }

    .comment_content {
        height: 100px;
    }
}

.middle_content {
    margin-bottom: 20px;
}

.info_about {
    margin: 0px;
    padding: 0px;
}

/*.mid-content {*/
/*padding-left: 0px;*/
/*}*/
.first_middle_content {
    padding: 0px;
    background-color: #F0F2F5;
}

.first_middle_content .col-md-9 {
    padding: 0px;
}

.first_middle_content .col-sm-9 {
    padding: 0px;
}

.first_middle_content h3 {
    padding-top: 5px;
    margin: 0px;
}

.icon_user {
    width: 70%;
    float: right;
    border-radius: 100%;
}

.comment_block {
    padding-right: 0px;
}

.comment_content {
    width: 100%;
    padding-left: 1px;
    margin-bottom: 5px;
}

.comment_block > button {
    float: right;
}

/*.middle_content>.sidebar{*/
/*padding-right: 0px;*/
/*}*/
.finish_content {
    margin-bottom: 50px;
}

.description-holiday {
    margin-top: 20px;
    margin-left: 0px;
    padding-left: 0px;
}

#showmore {
    margin-right: 5px;
    color: #333;
}

#showless {
    color: #333;
    text-decoration: none;
}

.flight-item {
    text-decoration: underline;
    color: #333;
}

.flight-item i.fa-gbp {
    text-decoration: underline;
}

.main-color {
    color: #ed5565
}

.view-gallery {
    color: #85868A;
    font-weight: bold;
    padding: 5px;
}

.ui-datepicker {
    z-index: 999 !important;
}

#btn-search {
    background: #ed5565;
    color: white;
    padding: 9px 12px;
}

@media (max-width: 1200px) and (min-width: 768px) {
    #btn-search {
        margin-top: 15px;
    }
}

@media (max-width: 1200px) and (max-width: 768px) {
    #btn-search {
        width: 100%;
    }
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple, .select2-selection {
    height: auto !important;
    min-width: 42px;
    border: 2px solid #e3e4e8 !important;
    padding: 4px 5px;
    text-align: left;
}

.select2-selection__choice {
    background: #ED5565 !important;
    color: white;
    padding: 2px 5px 2px 10px !important;
    word-break: break-all;
    white-space: normal;
    border: none !important;
}

.select2-selection__choice__remove {
    float: right;
    margin-left: 10px;
    width: 20px;
    background: white;
    text-align: center;
    border-radius: 50%;
}

.select2-selection__arrow {
    display: none;
}

.select2-selection__rendered {
    padding: 0 20px 0 10px !important;
}

.select2-container {
    width: 220px !important;
}

#departure, #destination, #date_from {
    height: 42px !important;
    border: 1px solid rgba(204, 204, 204, 0.78) !important;
    padding: 10px 10px;
}

.select2-container, .select2-drop, .select2-search, .select2-search input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.select2-container .select2-choice {
    height: 34px;
}

.select2-container .select2-choice .select2-arrow {
    display: none;
}

select#departure, select#destination, #date_from {
    /*for firefox*/
    -moz-appearance: none;
    /*for chrome*/
    -webkit-appearance: none;
}

/*for IE10*/
select#departure::-ms-expand, select#destination::-ms-expand, #date_from::-ms-expand {
    display: none;
}

@media (max-width: 1200px) {
    .select2-container {
        width: 100% !important;
    }

    #departure, #destination, #date_from {
        width: 100% !important;
    }
}

.select2-search {
    width: auto;
}

.img-thumb-post{
    width: 409px;
    height:204px;
}

@media (max-width: 768px) {
    .img-thumb-post {
        width: 100%;
        height: auto;
    }
}


@media (min-width: 769px) and (max-width: 1200px) {
    .btn-booking{
        font-size:12px !important;
    }
}

.btn-booking:focus, .btn-booking:hover{
    color:white;
}


html {
    height: 100%;
}
body {
    min-height: 100%;
    position: relative;
}
body:after {
    content: '';
    display: block;
    height: 100px;
}

#footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100px   ;
}

.nav-pagination{
    font-weight: bold;
}

.description-holiday{
    margin-top: 15px;
}
.carousel-inner{
    margin-bottom: 50px;
}
.finish_content{
    margin-top: 15px;
}
.siderbar-single-page{
    margin-top: 10px;
    margin-bottom: 350px;
}
.acc-item{
    text-decoration: underline;
    color: #333;
}

.row-post:first-child{
	margin-bottom:22px;
}

.row-post .info .row{
	
	    padding-bottom: 15px;
}

#title-footer{
    margin-left: 10px;
    font-size: 21pt;
    margin-bottom: 40px;
}
.title-footer-des{
    font-size: 12pt;
    color: #99a3b1;
    font-family: 'Arial';
}
.list-item-footer{
    font-size: 14pt;
}
.left-footer{
    padding: 0 34px;
    background: #393f48;
}
.row-left-footer{
    padding: 0 55px;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}
.left-footer,.footer-menu{
    display: flex;
    flex-direction: column;
}

@media (max-width: 1180px) and (min-width: 990px) {
    .nav-pagination {
        font-weight: bold;
    }
}

.from-search ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #f0f2f5;
    opacity:  0.9 !important;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.from-search  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #f0f2f5;
    opacity:  0.9;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.from-search  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #f0f2f5;
    opacity:  0.9;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.from-search  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #f0f2f5;
    opacity:  0.9;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.from-search  :-ms-input-placeholder { /* Microsoft Edge */
    color:    #f0f2f5;
    opacity:  0.9;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.select2-selection__rendered,.select2-container--default .select2-selection--multiple .select2-selection__rendered li,.select2-dropdown--below{
    font-size: 11pt !important;
    font-family: 'Open Sans', sans-serif !important;
}
#field3{
    font-size: 11pt;
    font-family: 'Open Sans', sans-serif !important;
}
#field3::-webkit-input-placeholder{
    opacity:  0.2 !important;
}
.navbar-default .navbar-nav>li>a,.navbar-header a ,.navbar-right a{
    font-size: 14pt;
    font-family: 'Economica', sans-serif;
    color: #a6aaae !important;
}

body {
    visibility: hidden;
}
#login-dialog{
    position: absolute;
    width: 190px;
    z-index: 9999;
    border:2px solid #e6e9ed;
    border-top: 0;
    border-left: 0;
    padding: 10px 15px 10px 15px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    margin-top: 10px;
}
.label-login{
    font-size: 7.82pt;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 600;
}
.control-login{
    height: 25px;
    border: 1px solid #e6e9ed;
}
.form-username{
    margin-bottom:12px ;
}
.checkbox-remember{
    font-size: 7.22pt;
    font-family: 'Open Sans', sans-serif !important;
}
.label-remember{
    position: absolute;
    top: 3px;
}
.btn-login, .btn-register{
    width: 76px !important;
    font-size: 7.22pt;
}
.error-message-login,.error-message-login a{
    font-size: 7.82pt;
    font-family: 'Open Sans', sans-serif !important;
    color: #ED5565;
}